APP_NAME="{{app_name}}"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_KEY={{app_key}}
APP_TIMEZONE=UTC

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# MySQL / Postgres
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=

PYTHON_BINARY=python3
PYTHON_TIMEOUT=60
